<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScreamControl.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <ScreamControl.Client.Properties.Settings>
            <setting name="CurrentLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="MicCaptureBoost" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AlarmVolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DelayBeforeAlarm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DelayBeforeOverlay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsSoundAlertEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlarmSystemVolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsOverlayAlertEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsStealthMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
        </ScreamControl.Client.Properties.Settings>
    </userSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt"></add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>  
    <compilation debug="true" />  
  </system.web>  
</configuration>
