<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScreamControl_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <ScreamControl_Client.Properties.Settings>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="Boost" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SafeScreamZone" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlertOverlayDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoundAlertEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StealthMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VolumeSystem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MessageAlertEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </ScreamControl_Client.Properties.Settings>
    </userSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt"></add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
